.popup__save{
  display: block;
  width: min(calc(238px + ((100vw - 320px) / 1.6)), 358px);
  height: 46px;
  margin: 48px auto min(calc(25px + ((100vw - 320px) / 80)), 37px) auto;
  background: #000000;
  border-style: none;
  outline: none;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: min(calc(14px + ((100vw - 320px) / 120)), 18px);
  line-height: 1.2;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 2px;
  transition: opacity 0.3s ease-out;
}

.popup__save:hover{
  opacity: 0.8;
}

@media screen and (min-width: 800px) {
  .popup__save{
    height: 50px;
  }
}