.popup__name{
  display: block;
  width: min(calc(238px + ((100vw - 320px) / 1.6)), 358px);
  margin: min(calc(22px + ((100vw - 320px) / 106.6)), 34px) auto 70px auto;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: min(calc(18px + ((100vw - 320px) / 80)), 24px);
  line-height: 29px;
  color: #000000;
}

@media screen and (min-width: 800px) {
  .popup__name{
   margin-bottom: 54px;
  }
}