.profile__title{
  margin: 8px 0 0 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: min(calc(14px + ((100vw - 320px) / 240)), 18px);
  line-height: 1.21;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-width: 800px) {
  .profile__title{
    text-align: left;
  }
}