.elements{
  width: calc(282px + ((100vw - 320px) / 1.6));
  margin: min(calc(36px + ((100vw - 320px) / 68.57)), 50px) auto 0 auto;
  max-width: 450px;
  display: grid;
  gap: 17px;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
}

@media screen and (min-width: 800px) {
  .elements{
    max-width: 880px;
  }
}